@font-face {
  font-family: "MyCustomFont";
  src: url("../../assets/fonts/FontsFree-Net-Circular-Std-Book.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

.settings-container {
  padding: 20px;
  background-color: #f9f9f9; /* Optional background color */
  border-radius: 5px; /* Optional rounded corners */
  color: #4b40ee;
}

.settings-title {
  font-family: "MyCustomFont", sans-serif;
  font-size: 1.2em;
  margin-bottom: 10px;
}
