@font-face {
  font-family: "MyCustomFont";
  src: url("../../assets/fonts/FontsFree-Net-Circular-Std-Book.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "MyCustomFont", sans-serif;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: center; /* Center content horizontally */
  margin-bottom: 1rem;
  font-family: "MyCustomFont", sans-serif; /* Apply custom font */
}

.company-logo {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
}

.company-name {
  font-weight: bold;
  color: #4b40ee;
  font-family: "MyCustomFont", sans-serif; /* Apply custom font */
}

.card-content {
  text-align: center;
  font-family: "MyCustomFont", sans-serif; /* Apply custom font */
}
