@font-face {
  font-family: "MyCustomFont";
  src: url("../../assets/fonts/FontsFree-Net-Circular-Std-Book.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "MyCustomFont", sans-serif;
}

.analysis-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "MyCustomFont", sans-serif; /* Apply custom font */
}

.metric-item {
  margin-bottom: 10px;
}
